# Terminal COMMAND to install for DEVELOPERS
## pip install -r requirements-dev.txt

# Runtime requirements
--requirement requirements.txt
# Global
pip>=22.1
setuptools>=60.0
wheel>=0.36
ipython==8.7.0
ipykernel==6.19.2
pathlib==1.0.1                              # https://pypi.org/project/pathlib/
poetry==1.1.7                               # https://pypi.org/project/poetry/
# Testing
pytest==7.1.2                               # https://pypi.org/project/pytest/
pytest-cov==3.0.0
pytest-xdist==2.5.0
pytest-timeout==1.4.2
pytest-benchmark==3.4.1
codecov==2.1.11                             # https://pypi.org/project/codecov/
tox==3.28.0                                 # https://pypi.org/project/tox/
psutil==5.9.0                               # https://pypi.org/project/psutil/
# Commandline Argumente
argparse==1.4.0                             # https://pypi.org/project/argparse/
# Config File Argumente
configparser==5.0.2                         # https://pypi.org/project/configparser/
# Remote Debug
debugpy==1.5.1
## Linting/Tooling
pylint==2.15.5                              # https://pypi.org/project/pylint/
pylint-json2html==0.4.0                     # https://pypi.org/project/pylint-json2html/
flake8==6.0.0
flake8-bugbear==23.1.17
flake8-comprehensions==3.10.1
mypy==0.981
mypy-extensions==0.4.3
autoflake==2.1.1                            # https://pypi.org/project/autoflake/
pydantic==1.10.2
isort==5.10.1
black==22.6.0                               # https://pypi.org/project/black/
black[jupyter]
pep8==1.7.1
autopep8==1.6.0
pre-commit==2.20.0                          # https://pypi.org/project/pre-commit/
git-lfs==1.6
## Documentation
sphinx==5.0.2                               # https://pypi.org/project/Sphinx/
sphinxcontrib-confluencebuilder==2.0.0
mkdocs==1.4.2                               # https://pypi.org/project/mkdocs/
mkdocstrings==0.19.1
mkdocs-material==9.0.5
Pygments==2.14.0
atlassian
atlassian-python-api==3.32.2

# Project specific
pathlib==1.0.1
pyarrow==12.0.1
